

<div class="divComentarios">
  <div>
    <h5>Comentários:</h5>
    <div ng-repeat="comment in post.comments" class="comentarios">
      <p class="negrito">{{comment.author}} em {{comment.date | date:'dd/MM/yyyy HH:mm'}}</p>
      <p>{{comment.body}}</p>
    </div>
  </div>

  <h6 class="negrito">Comente este post:</h6>
  <form ng-submit="addComment(post, comment)">
    <input class="form-control" type="text" name="author" placeholder="Nome" ng-model="comment.author" />
    <input class="form-control" type="text" name="body" placeholder="Comentário" ng-model="comment.body" />
    <div class="alinhaCentro">
      <button class="btn btn-secondary"type="submit">Postar comentário</button>
    </div>
  </form>
</div>
